.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* orange*/
  }
  
  body {
    background : black;
  }
  
  .form-container {
    padding: 20px;
    background: #f1f4f7;
    box-shadow: 0 3px 20px 0 #ff6600;
    color:black;
  }
  .form-group-prop{
    width: 50%;
    
  }